body {
    background-color: darkgray;
    display: grid;
    grid-auto-rows: 1fr;
    justify-content: center;
}

.main_card {
    border: 1px solid darkgray;
    border-radius: 25px;
    background-color: lightgray;
    margin: 20px;
}

header h1 {
    text-align: center;
    padding: 5px;
}

.contributions_section {
    text-align: center;
    padding-bottom: 10px;
}

.main_card img {
    border-radius: 10px 10px 25px 25px;
}

.technologies_section {
    display: grid;
    margin: 15px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

/* Tablet Mode */
@media screen and (min-width: 431px) {
    body {
        background-color: red;
    }
}

/* Desktop Mode */
@media screen and (min-width: 770px) {
    body {
        background-color: aqua;
    }
}