body {
    background-color: darkgray;
    display: grid;
    grid-auto-rows: 1fr;
    justify-content: center;
}

hr {
    width: 50%; /* or whatever % or px you want */
    margin: 10px auto; /* centers it horizontally */
}


/* Responsive Media Queries */
@media screen and (min-width: 431px) {
    body {
        background-color: red;
    }
}

@media screen and (min-width: 770px) {
    body {
        background-color: aqua;
    }
}

/* Card Layout */
.main_card {
    border: 1px solid darkgray;
    border-radius: 25px;
    background-color: lightgray;
    margin: 20px;
}

.main_card .profilePicture {
    border-radius: 10px 10px 25px 25px;
}

/* Header */
header h1 {
    text-align: center;
    padding: 10px 0px 2px 0px;
}

/* Header Media */
.header_media {
    display: grid;
    margin-top: 25px;
    grid-template-columns: 33% 34% 33%;
    justify-items: center;
    align-content: center;
}

.header_media div {
    position: relative
}

.header_media div span {
    margin-top: 5px;
    display: none;
    position: absolute;
    left: 50%;
    transform: translateY(-30px) translateX(-50%);
}

.header_media div:hover span {
    display: inline-block;
}

.header_media a {
    color: black;
}

/* Contributions */
.contributions_section {
    text-align: center;
    padding: 10px 0px 10px 0px;
}

/* Technologies Section */
.technologies_section {
    display: grid;
    margin: 24px 15px 20px 15px;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.technologies_section img {
    margin: 5px;
}

.technologies_section div {
    position: relative;
}

.technologies_section div span {
    display: none;
    position: absolute;
    left: 50%;
    white-space: nowrap;
}

.technologies_section div:hover img {
    transform: scale(1.15);
}

.technologies_section .technologies_top_row:hover span {
    display: inline-block;
    transform: translateY(-22px) translateX(-50%);
}

.technologies_section .technologies_bottom_row:hover span {
    display: inline-block;
    transform: translateY(38px) translateX(-50%);
}
