h1 {
    text-align: center;
    font-size: 300%;
    margin: 15px;
}

p {
    margin: 8px;
    white-space: wrap;
}

.main_portfolio_card {
    height: 96vh;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 23% 30% 27% 10%;
    border: 1px solid darkgray;
    border-radius: 25px;
    background-color: lightgray;
    margin: 20px;
}

.main_portfolio_card img {
    width: 90%;
    height: auto;
    justify-self: center;
    align-self: center;
}

.portfolio_project {
    display: grid;
    grid-template-rows: 15% 85%;
    text-align: center;
}

.portfolio_project_technologies {
    display: grid;
    grid-template-columns: 50% 50%;
}

.portfolio_main_image {
    margin-top: 20px;
}

img {
    border-radius: 30px;
}

.portfolio_project_technologies_items {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.portfolio_project_technologies_items img {
    width: 50%;
    height: auto;
}

.portfolio_buttons {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    white-space: nowrap;

}

button {
    width: auto;
    justify-self: center;
    align-self: center;
    margin: 1px;
}